#
#Tue Apr 24 00:57:40 EET 2018
app.max_db_connections_count=10
app.classes.path=target/classes/com/linkedin/replica/editInfo
handler.nosql=ArangoEditInfoHandler
package.commands=com.linkedin.replica.editInfo.commands
rabbitmq.username=guest
package.handlers=com.linkedin.replica.editInfo.database.handlers.impl
app.controller.host=localhost
rabbitmq.queue.client=EDITINFO
app.max_thread_count=20
rabbitmq.ip=localhost
rabbitmq.password=guest
app.controller.port=8083
