#
#Thu May 03 16:02:07 EET 2018
user.cv.delete=DeleteCvCommand
company.update.handler.cache=JedisCacheHandler
user.cv.delete.handler=ArangoEditInfoHandler
company.update.handler=ArangoEditInfoHandler
company.add=AddCompanyCommand
user.cv.add.handler.cache=JedisCacheHandler
company.get.handler.cache=JedisCacheHandler
user.cv.add=AddCvCommand
user.update=EditProfileDetailsCommand
user.update.handler.cache=JedisCacheHandler
company.get.handler=ArangoEditInfoHandler
user.update.handler=ArangoEditInfoHandler
user.add.skill.handler=ArangoEditInfoHandler
user.cv.delete.handler.cache=JedisCacheHandler
company.get=GetCompanyProfileCommand
editInfo.test=testCommand
user.add.skill=AddNewSkillCommand
user.get.handler=ArangoEditInfoHandler
editInfo.test.handler.cache=JedisCacheHandler
company.add.handler=ArangoEditInfoHandler
editInfo.test.handler=ArangoNotificationsHandler
company.add.handler.cache=JedisCacheHandler
user.delete.skill=RemoveSkillCommand
user.delete.skill.handler.cache=JedisCacheHandler
user.delete.skill.handler=ArangoEditInfoHandler
user.add.skill.handler.cache=JedisCacheHandler
user.get.handler.cache=JedisCacheHandler
user.get=GetUserProfileCommand
user.cv.add.handler=ArangoEditInfoHandler
user.create.profile=CreateProfileCommand
user.create.profile.handler=ArangoEditInfoHandler
user.create.profile.handler.cache=JedisCacheHandler
user.delete.skill.handler=ArangoEditInfoHandler
company.update=UpdateCompanyCommand

