#
#Thu Mar 22 20:31:14 EET 2018
user.update=EditProfileDetailsCommand
editInfo.test=testCommand
editInfo.test.handler=ArangoNotificationsHandler
user.cv.delete=DeleteCvCommand
company.add=AddCompanyCommand
user.get=GetUserProfileCommand
user.add.skill=AddNewSkillCommand
company.get=GetCompanyProfileCommand
company.update=UpdateCompanyCommand
user.cv.add=AddCvCommand
